[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
pandas = "*"
numpy = "==1.21.0"
scikit-learn = "==1.0.2"
matplotlib = "==3.5.1"
seaborn = "==0.9.0"
scipy = "==1.7.3"
imbalanced-learn = "*"
flask-restful = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
